# Ignore node_modules (dependencies will be installed in the container)
node_modules

# Build output (you'll rebuild inside the container)
build

# Configuration files
.env
.env.local
.env.development
.env.test
.env.production

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor and OS-specific files
.DS_Store
Thumbs.db

# Git files
.git
.gitignore

# Other unnecessary files
coverage
.vscode
.idea
